@model JobApplicationStatusViewModel
@{
    ViewData["Title"] = "Job Application Status";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Application Details</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <p class="h6"><strong>Full Name:</strong> <span class="text-muted">@Model.FullName</span></p>
            </div>
            <div class="mb-3">
                <p class="h6"><strong>Applied For:</strong> <span class="text-muted">@Model.JobName</span></p>
            </div>
            <div class="mb-3">
                <p class="h6"><strong>Status:</strong> 
                    <span class="text-muted">
                        @Model.ApplicationStatus.GetDescription()
                    </span>
                </p>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</div>


