@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
        Open Menu
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-controller="Applicant" asp-action="ApplicantDetail" class="text-decoration-none">Profile</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Applicant" asp-action="JobApplicationStatus" class="text-decoration-none">Application Status</a>
                </li>
            </ul>
        </div>
    </div>
</div>
