

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
     Menu
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-controller="Applicant" asp-action="ApplicantDetail" class="text-decoration-none">Profile</a>
                </li>
                @if (User.IsInRole("User"))
                {
                   <li class="list-group-item">
                    <a asp-controller="Applicant" asp-action="JobApplicationStatus" class="text-decoration-none">Application Status</a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="list-group-item">
                        <a asp-controller="Admin" asp-action="ListAllApplicants" class="text-decoration-none">View Applicants</a>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="list-group-item">
                        <a asp-controller="Job" asp-action="ListJobs" class="text-decoration-none">All Jobs</a>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <li class="list-group-item">
                        <a asp-controller="Job" asp-action="ViewJobs" class="text-decoration-none">All Jobs</a>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="list-group-item">
                        <a asp-controller="Administration" asp-action="ListRoles" class="text-decoration-none">User Roles</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
